# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Idris
idris/Domain/build/
*.ibc
*.ttc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
